@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');


* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 82%;
  height: 100vh;
  margin: 70px auto 0 auto;
  background: linear-gradient(#7f8688, #f2f7f4);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: #e8e8e8;
  width: 100%;
  height: 100%;
}

main {
  width : 85%;
  margin: auto;
}

header {
  margin: 0 auto -1em auto;
}

.signUpPage {
  height: 100vh;
}

.formPageImg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;

}

.formInp {
  color: #EDF2F0;
}

.active {
  color: white;
}

.MuiGrid-container {
  justify-content: center;
}

.tip-button-container {
  margin-bottom: 3rem;
}

.active-cta {
  color: #f7eb95;
}
#email,
#username,
#password,
#passwordConfirmation,
.textInputField {
  margin-bottom   : -2em;
  background-color: #EDF2F0;
  border          : 2px solid black;
  border-radius   : 10px;
  padding         : 6px;
}

.formButt {
  background   : none;
  color        : #f3e367;
  border       : 1px solid #f3e367;
  padding      : 1.2rem 2.4rem;
  font-size    : 2rem;
  font-family  : "Ubuntu", sans-serif;
  border-radius: 10px;
  transition   : all 250ms ease-out;
}

.formButt:hover {
  cursor    : pointer;
  background: #f3e367;
  color     : black;
}

.tipButton {
  background   : none;
  color        : #f3e367;
  border       : 1px solid #f3e367;
  padding      : 1.2rem 2.4rem;
  font-size    : 2rem;
  font-family  : "Ubuntu", sans-serif;
  border-radius: 10px;
  transition   : all 250ms ease-out;
}

.tipButton:hover {
  cursor    : pointer;
  background: #f3e367;
  color     : black;
}

.tipButton svg {
  margin-right: 0.6rem;
}

.wrkNameImg {
  width: 150%;
}